.contato{
    width: 100%;
    justify-content: center;
}
.contato h2{
    font-family: 'Comfortaa', cursive;
    color: white;
}
.contato-title{
    margin: 90px auto;
    font-size: 50px;
    width: 70%;
    text-align: center;
    background-color: #2d2d2d;
    border-radius: 90px;
}
.contato-header{
    background: linear-gradient(#9a1fc3, #6f148d);
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.contato-header h2{
    font-size: 30px;
}
.contato-header h3{
    font-family: 'BIZ UDPGothic', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.contato-container{
    width: 70%;
    min-height: 70vh;
    background: linear-gradient(#2d2d2d 0%, #1A1A1A 70%);
    margin: 10px auto;
    border-radius: 30px;
}
form{
    margin: 30px 20px;
}
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea, select{
    font-family: 'BIZ UDPGothic', sans-serif;
    color: white;
    background-color: #1A1A1A;
    width: 100%;
    height: 50px;
    align-items: center;
    border: 1px solid #313131;
    margin-bottom: 5px;
    padding-left: 30px;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
    border-radius: 7px;
}
form textarea{
    padding-top: 15px;
    height: 200px;
    resize: none;
}
form input[type="submit"]{
    font-family: 'BIZ UDPGothic', sans-serif;
    background-color: white;
    color: #281a26;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: .2s;
    height: 50px;
    margin-top: 30px;
}
form input[type="submit"]:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
}

/*Responsividade*/
@media(max-width:700px){
    .contato h2{
        font-size: 30px;
    }
    .contato-title{
        width: 90%;
    }
}
@media(max-width:1200px){
    .contato-header{
        flex-direction: column;
    }
    .contato-container{
        width: 90vw;
        border-radius: 30px;
    }
}
@media(max-width:900px){
    .contato-container{
        width: 100vw;
        border-radius: 30px;
    }
}