.rodape{
    margin-top: 50px;
    bottom: 0;
    background: linear-gradient(#24202000,#101b2b8f 25%);
    min-height: 200px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.rodape h2{
    font-family: 'Comfortaa', cursive;
    text-shadow:2px 2px #000;
}
.rodape h3{
    font-family: 'BIZ UDPGothic', sans-serif;
    text-shadow:2px 2px #000;
    text-decoration: underline;
}
.social{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.fa{
    margin-right: 10px;
    scale: 150%;
}
.rodape-produtora{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rodape-fip{
    font-size: 50px;
}
/*Responsividade*/
@media(max-width:600px){
    .rodape{
        flex-direction: column;
    }
    .insta, .info-nicolas{
        justify-content: center;
    }
    .info-nicolas{
        margin: 30px 0;
    }
    .social h3{
        font-size: 20px;
    }
}

@media(max-width:400px){
    .social h3{
        font-size: 15px;
    }
}