.menu-title{
    font-size: 40px;
    letter-spacing: -4px;
    transition: .3s;
    text-shadow:4px 4px #000;
}
.menu-title-a{
    margin-left: 10vw;
}
.menu-title:hover{
    font-size: 42px;
    text-shadow:6px 6px #000;
}
li{
    font-family: 'BIZ UDPGothic', sans-serif;
}
.menu{
    top: 0;
    position: fixed;
    background: linear-gradient(#101b2b8f,#24202000 80%);
    min-height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
}
.menu nav{
    margin-right: 10vh;
}
.menu a{
    text-decoration: none;
    color: white;
    text-shadow:2px 2px #000;
}
.menu-links{
    display: flex;
}
.menu-links li{
    margin: 0 2vw;
    list-style: none;
}
.menu-links a{
    font-size: 20px;
    transition: .2s;
}
.menu-links a:hover{
    font-weight: 900;
    text-shadow:6px 6px #000;
}
.menu-links a:active{
    text-shadow:3px 3px #000;
    color: #a5c9ff;
}
.line{
    margin: 0 -2px;
    width: 2px;
    background-color: white;
    border-radius: 5px;
}
/*Responsividade*/
@media(max-width:750px) {
    .menu{
        flex-direction: column;
    }
    .menu-title-a{
        margin: 15px 0;
    }
    .menu nav{
        margin: 10px 0;
    }
}
@media(max-width:380px){
    .menu-links a{
        font-size: 17px;
    }
}