.sobre{
    text-align: center;
    justify-content: center;
    width: 100vw;
}
.porque-title{
    max-width: 500px;
    height: 100px;
    background: linear-gradient(45deg, #033278, #4f1064,#033278);
    border-radius: 100px;
    text-align: center;
    padding: 25px 0;
    margin: 60px auto;
    z-index: 4;
}
.sobre h2{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 50px;
    white-space: nowrap;
}

/*Seção "Sobre Mim"*/
.porque{
    margin: 0 auto;
}
.porque-text{
    z-index: -1;
    top: -110px;
    max-width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    background-color: #2D2D2D;
    position: relative;
    border: 6px solid #033278;
    border-radius: 30px;
}
.sobre p{
    padding: 90px 2vw;
    z-index: 1;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-align: start;
}

/*Responsividade*/
@media(max-width:500px){
    .sobre p{
        padding-bottom: 20px;
    }
}
@media(max-width:445px){
    .porque h2{
        font-size: 40px;
    }
    .porque-title{
        padding: 55px 0;
    }
}
@media(max-width:375px){
    .porque h2{
        font-size: 30px;
    }
    .porque-title{
        padding: 60px 0;
    }
}